{
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": { "parser": "svelte", "svelteSortOrder": "options-scripts-markup-styles" }
        }
    ],
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 110,
    "tabWidth": 4
}
